<form class="ui stacked segment form" action="/film/{{singleFilm.id}}/addfilm" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Film</label>
      <input type="text" name="film" autofocus required title = "Please include a valid Title"
	  placeholder="Film">
    </div>
    <div class="field">
      <label>Director</label>
      <input type="text" name="director" required title = "Please include a valid Diector"
	  placeholder="Director" >
    </div>
    <div class="field">
      <label>Release Date</label>
      <input type="text" name="release_date" autofocus required title = "Please include a valid Date"
	  placeholder="Release Date">
    </div>
    <div class="field">
      <label>Duration</label>
      <input type="text" name="duration" required title = "Please include a valid Duration"
	  placeholder="Duration">
    </div>
  </div>
  <button class="ui blue submit button">Add Film</button>
</form>